.vs/
*.svn
/.vs/DuiEditor2019/v16
*.dll
*.pdb
*.exe
*.tlog
*.obj
*.log
*.ilk
*.pch
*.lib
*.recipe
*.exp
*.res
*.idb

/DuiLib/.vs
/DuiLib/Build
/DuiLib/out
/DuiLib/.xmake

/DuiEditor/.vs
/DuiEditor/Build
/DuiEditor/out
/DuiEditor/.xmake

/DuiPlugins/.vs
/DuiPlugins/Build
/DuiPlugins/out
/DuiPlugins/.xmake

/DuiPreviewer/.vs
/DuiPreviewer/Build
/DuiPreviewer/out
/DuiPreviewer/.xmake

/DuiScript/.vs
/DuiScript/Build
/DuiScript/out
/DuiScript/.xmake
